body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    transition: .5s;
    
}

.change-color-black{
    display: none;
    transition: .6s;
    cursor: pointer;
}

.cabeçalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2%;
}

.navegaçao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.item{
    margin-left: 15%;
    color: rgb(59, 59, 59);
    cursor: pointer;
    transition: .3s;
}

.itemactive{
    color: #FF7261;
    cursor: pointer;
    transition: .3s;
}

.item:hover{
    color: #FF7261;
}

.botao-header{
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 130%;
    background-color: #FF7261;
    color: #ffff;
    text-align: center;
    cursor: pointer;
    transition: .4s;
}

.botao-header:hover{
    background-color: #03A4ED;
}

.change-color{
    cursor: pointer;
    display: block;
    
}

.left{
    background-image: url(../img/baner-dec-left.png);
    position: absolute;
    width: 267px;
    height: 532px;
    margin-left: 0;
    background-repeat: no-repeat;
}

.right{
    content: '';
    background-image: url(../img/banner-right-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    width: 819px;
    height: 674px;
}

.principal{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.texto{
    z-index: 1;
    width: 45%;
    margin-top: 10%;
    margin-left: 4%;
}

.titulo-1{
    text-transform: uppercase;
    font-size: 27px;
    color: #ff695f;
    margin-bottom: 15px;
}

.titulo-principal{
    font-size: 40px;
    font-weight: 700;
    color: #2a2a2a;
    line-height: 60px;
    transition: .5s;
}

.rosa{
    color: #FF7261;
}

.azul{
    color: #03A4ED;
}

.tools{
    margin-top: 20%;
}

.tools-back{
    background-image: url(../img/services-left-dec.png);
    position: absolute;
    width: 387px;
    height: 638px;
    margin-left: 0;
    background-repeat: no-repeat;
}

.tools-titulo{
    padding-top: 12%;
    text-align: center;
    color: #2a2a2a;
    font-size: 22px;
}

.tools-icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.tool-icon{
    z-index: 2;
    text-align: center;
    margin: 15px;
    border-radius: 20px;
    background-color: rgb(240, 239, 239);
    padding: 30px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    
}

.icon-title{
    color: #2a2a2a;
    font-size: 20px;
    text-align: center;
}

.happy-people{
    display: flex;
    justify-content: space-around;
    align-items: center;
   margin-top: 10%;
   
}

.pessoas-felizes{
    width: 40%;
    margin-left: 8%;
    
}

.text-content{
    width: 55%;
    margin-left: 8%;
    margin-right: 8%;
}

.text-titulo{
    text-align: left;
    color: #2a2a2a;
    font-size: 22px;
    margin-bottom: 8%;
}

.text{
    font-size: 15px;
    line-height: 30px;
    color: #2a2a2a;
}

.cards{
    margin-top: 7%;
    display: flex;
    align-items: center;
    
}

.card-titulo{
    font-size: 45px;
    color: #2a2a2a;
}

.card{
    margin-left: 7%;
}

.card-info{
    font-size: 18px;
    color: #ff695f;
}

.services-back{
    background-image: url(../img/tables-left-dec.png);
    position: absolute;
    width: 418px;
    height: 851px;
    margin-left: 0;
    background-repeat: no-repeat;
}

.services-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    
}

.services-back-right{
    content: '';
    background-image: url(../img/tables-right-dec.png);
    position: absolute;
    background-size: cover;
    width: 359px;
    height: 848px;
    margin-right: 0;
    background-repeat: no-repeat;
    z-index: 1;
}